/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require daterangepicker
 *= require font-awesome
 *= stub print
 */

.print {
    display: none;
}

@media print {
    body {
        visibility: hidden;
    }

    .print {
        display: block;
        visibility: visible;
    }
}

.navbar {
    background-color: #292b2c!important;
}

.navbar-brand {
    color: #fff !important;
}

.nav-link:hover {
    color: rgba(255,255,255,.5) !important;
}

.apply:hover {
    color: #398439 !important;
}

.reset:hover {
    color: #ac2925 !important;
}

.printer {
    padding-bottom: 0;
    float: right;
    font-size: 1.2em !important;
    padding-left: 0.6em;
    color: #333;
}

.printer:hover {
    color: #111 !important;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

#search {
    width: 250px;
}

#search_label {
    /* Other styling.. */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
    margin-top: 5px;
}

.modal-mailer {
    width: 332px;
}

.recaptcha {
    padding-top: 15px;
}
/*@media only screen and (max-width: 600px) {*/
    /*.modal-mailer {*/
        /*min-width: 335px;*/
    /*}*/
/*}*/