// Place all the styles related to the filters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.placeholder_center::placeholder {
  text-align: center
}

.calendars_range {
  background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%
}

.btn-alignment {
  padding-bottom: 0;
  margin-top: 10px;
}

.link-alignment {
  padding-bottom: 0;
  margin-top: 17px;
}